
body{
	margin: 0;
}
header{


	text-align: center;
	color: white;
	height: 400px;
	background: lightgreen url(../images/header-bg.jpg);
	background-size:cover;
	padding-top:150px;







}
header p{
	font-style: italic;            /* italic font only applied to header of  P */
}

header h1{            /* h1 here only targeting at header which is before the session of Mount Fuji, take away header will be applied to mount fuji*/
	
	color:#c6ef25;
	font-size:60px;                   /*text properties*/
	text-transform: uppercase;
	letter-spacing: 10px;
	}

header a{    /* a means a tag in html*/
	color:white;
	font-family: 'Montserrat',sans-serif;
	border: 5px solid white;
	padding: 10px 40px;    /* vertical  horizontal */
	text-decoration: none;
}	

header a: hover{
	background: white;
	color:black;
}

.categories a {    /* a means a tag in html*/
	color:black;
	font-family: 'Montserrat',sans-serif;
	border: 5px solid black;
	padding: 10px 40px;    /* top,bottom  left,right */
	text-decoration: none;
}	

.categories a:hover{
	background: black;
	color:white;
}


.quote a {    /* a means a tag in html*/
	color:black;
	font-family: 'Montserrat',sans-serif;
	border: 5px solid black;
	padding: 10px 40px;    /* top,bottom  left,right */
	text-decoration: none;
}	

.quote a:hover{
	background: black;
	color:white;

}





h1,h2,h3,h4{
	font-family: 'Montserrat', sans-serif;   /*if Montserrat is not available, computer will choose sans-serif*/

}

nav ul li {
	display: inline;
}
nav a{
	text-decoration: none;
	font-family: 'Montserrat'sans-serif;
	margin-right: 15px;
}


.logo{
	color:red;
	margin-right: 80px;
	}     /* logo is the name of the class, here is the Japan Journal */

.categories ul {    /* ul means vertical */
	padding: 0;   /* */
}	

.categories  {
	text-align: center;
}
.categories ul li {      
	width: 21%;            /* 4 images: 25%x3; if 3 images: 33.33%*/
	float:left;/* align side by side inline rather than one by one vertically */
	list-style: none;
	padding: 0 2%;       /* padding top & bottom:0;padding-left &right:2%;  */
	

}
.categories img{
	max-width: 100%;
}

.quote {






	text-align: center;
}
.featured ul li {      
	width:28%;            
	float:left;/* align side by side inline rather than one by one vertically */
	list-style: none;
	padding: 0 1.5%;       /* padding top & bottom:0;padding-left &right:2%;  */
	

}
.featured img{
	max-width: 100%;
}




footer {
	clear:both;text-align: center;
	background-color: black;
	color:white;
	font-family: 'Montserrat';
	padding:20px 0;

}


	


